.idea/
target/
!target/generated-sources/jooq/
*.class
*.jar
.gradle/
build/
node_modules/
dist/
*.log
.env*
coverage/
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
