node_modules/
dist/
build/
*.log
.env*
coverage/
.git/
.gitignore
.dockerignore
.idea/
.vscode/
*.tmp
*.swp
Thumbs.db
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
